<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home card-background-page">
  <ion-card *ngIf="image">
    <img [src]="image" />
  </ion-card>

  <ion-card *ngIf="!image">
    <img src="build/images/scan.jpg"/>
    <div class="card-title">Cancer Scan</div>
  </ion-card>


  <div class ="btn-container">
    <button outline block (click)="takePicture()">
      Take Photo
      <ion-icon name="ios-camera"></ion-icon>
    </button>

    <button outline block (click)="selectPicture()">
      Choose Image
      <ion-icon name="ios-folder-open"></ion-icon>
    </button>

    <button outline block [disabled]="!image">
      Analyze
      <ion-icon name="md-qr-scanner"></ion-icon>
    </button>
  </div>

</ion-content>
