<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home card-background-page">
  <ion-card *ngIf="image">
    <img [src]="image" />
    <ion-card-content *ngIf="risk >= 0">

      <p><b>Results:</b> {{ risk | number }}%</p>

      <button class="btn-risk btn-green" *ngIf="risk <= 0.4" ion-button round color="secondary" (click)="openModal()">Low Risk</button>
      <button class="btn-risk btn-orange" *ngIf="risk <= 0.5 && risk > 0.4" ion-button round (click)="openModal()">Medium risk</button>
      <button class="btn-risk" ion-button round *ngIf="risk > 0.5" color="danger" (click)="openModal()">High risk</button>
      <p *ngIf="risk > 0.4">Please consult with your doctor.</p>

    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!image">
    <img src="build/images/scan.jpg"/>
    <div class="card-title">Cancer Scan</div>
  </ion-card>


  <div class ="btn-container">
    <button outline block (click)="takePicture()">
      Take Photo
      <ion-icon name="ios-camera"></ion-icon>
    </button>

    <button outline block (click)="selectPicture()">
      Choose Image
      <ion-icon name="ios-folder-open"></ion-icon>
    </button>

    <button outline block  (click)="analyze()" [disabled]="!image">
      Analyze
      <ion-icon name="md-qr-scanner"></ion-icon>
    </button>
  </div>

</ion-content>
